* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: rgb(23, 23, 23);
  font-family: Raleway;
}

body {
  max-width: 1400px;
  margin: auto;
}


img {
  width: 100px;
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: 0.8em;
  font-weight: 800;

}

h3 {
  font-size: 0.6em
}

i {
  color: #0065FC;
}


/* *************HEADER************** */


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  font-size: 1em;
}

.logo img {
  width: 60px;
}

.navigation {
  display: flex;
  width: 25%;
  justify-content: space-around;
  cursor: pointer;
}


.navigation a {
  position: relative;
  font-size: 0.7em;
  padding: 30px;
}

.navigation a:hover {
  color: #0065FC;
  border-top: solid 2px #0065FC;
}



/* ***************NAV******************** */


nav {
  margin: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav p {
  font-size: 0.7em;
  margin-top: 10px;
}

form {
  margin: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

input[type=text] {
  width: 200px;
  height: 35px;
  border: solid 1px #f2f2f2;
  padding: 12px;
}

input[type="submit"] {
  background-color: #0065fc;
  color: white;
  font-size: 0.6em;
  border: solid 1px #f2f2f2;
  border-left: none;
  border-radius: 0 15px 15px 0;
  height: 35px;
  padding: 12px;
  cursor: pointer;
  margin-left: -5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#label {

  background-color: #f2f2f2;
  height: 35px;
  border: solid 1px #f2f2f2;
  border-radius: 15px 0 0 15px;
  padding: 12px 15px;
  margin: -5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#label i {
  color: black;
  width: 1em;


}

.filters {
  display: flex;
  flex-direction: row;
  max-width: 890px;
}

.filters li {
  font-size: 0.7em;
  font-weight: 900;
  padding: 15px;
  margin: 15px;
}

.filter {
  border: solid 2px #f2f2f2;
  border-radius: 25px;
  cursor: pointer;
}

.filter:active,
.filter:hover {
  background-color: #deebff;
}

.filter i {
  padding: 0 5px 0 0;
}

.infos {
  font-size: 0.7em;
  margin: 30px 20px 0 20px;
}

.info .fa-solid {
  color: #0065fc;
  font-size: 0.7em;
}

.info {
  width: 24px;
  height: 24px;
  border: solid 1.3px #f2f2f2;
  padding: 0 8px;
  border-radius: 50%;
  margin: 10px;
}


/* ***************MAIN************* */


main {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  flex-wrap: wrap;
}

main h2 {
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 800;
}

main h3 {
  margin-top: 30px;
  font-size: 0.7em;
  font-weight: 800;

}

#housing,
#popular {
  background: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding: 40px;


}

#activities {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px auto;
}

#housing {
  width: 66%;

}

#popular {
  width: 33%;

  position: relative;
}


.housing-cards {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  column-gap: 20px;
  row-gap: 20px;
}

.housing-card {
  background: #ffffff;
  border-radius: 15px;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  width: 230px;
  height: 170px;
  border: solid 3px white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1))
}

.housing-card h3,
.popular-card h3 {
  margin: 5px;
  font-size: 0.8em;
  font-weight: 900;
}

.housing-card p,
.popular-card p {
  margin: 5px;
  font-size: 0.2em;
  margin-bottom: -2px;
}

.housing-card i,
.popular-card i {
  font-size: 0.3em;
  margin: 0;
}

.housing-card i:first-child,
.popular-card i:first-child {
  margin-left: 10px;
}

.housing-card i:last-child,
.popular-card i:last-child {
  color: #f2f2f2;
}

.rated {
  position: absolute;
  bottom: 0;
}

.housing-card img {
  width: 100%;
  height: 65%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

#popular span {
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px;
}

.popular-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 100%;
}

.popular-card {
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: 100px;
  border: solid 3px white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 10px 0 20px 0;
}

.popular-card img {
  height: 100%;
  width: 40%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: cover;
}

.activities-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.activity-card {
  background: #ffffff;
  border-radius: 15px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  width: 200px;
  height: 300px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 10px;
}

.activity-card h3 {
  margin: 10px;
}

.activity-card img {
  width: 100%;
  height: 90%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;

}


/* ************FOOTER*********** */

footer {
  background: #f2f2f2;

  display: flex;
  justify-content: space-around;
  padding: 40px;
  align-items: start;
  margin: 40px;
  margin-bottom: 0;


}

footer li:first-child {
  font-weight: 700;
  padding-bottom: 20px;
  text-align: left;
}

footer li {
  padding-bottom: 10px;
}

/********************** MEDIA QUERIES ********************/


/* PC */


@media screen and (max-width: 1325px) {
  .housing-card {
    width: 180px;
  }
}

@media screen and (max-width: 1200px) {
  .housing-card {
    font-size: 0.1em;
    width: 170px;
    height: 160px;
  }
}

@media screen and (max-width: 1100px) {
  .housing-card {
    font-size: 0.1em;
    width: 150px;
    height: 150px;
  }
}


/* PAD */


@media screen and (max-width: 992px) {

  .filters li {
    padding: 10px;
    font-size: 0.6em;
  }


  main {
    margin-bottom: 0px;
  }

  #housing {
    width: 100%;
    margin-bottom: 40px;
  }

  #popular {
    display: flex;
    width: 100%;
    padding: 20px;
  }

  .housing-card {
    width: 200px;
    justify-content: center;
  }

  .popular-cards {
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
  }

  .popular-card {
    width: 250px;
    height: 120px;
    font-size: 0.1em;
  }

  .activity-card {
    width: 180px;
    height: 280px;
    margin: 10px 20px 20px 15px;
  }


  .activity-card img {
    height: 80%;
  }

  #popular span {
    margin: 20px;
  }

  footer {
    font-size: 0.7em;
    margin-top: 10px;
  }
}

@media screen and (max-width: 958px) {
  .popular-cards {
    flex-direction: row;
    column-gap: 8px;
    justify-content: center;
  }

  .popular-card {
    width: 205px;
    height: 90px;

  }

  .activity-card {
    width: 140px;
    height: 220px;
    margin: 10px 10px 20px 10px;
  }
}

@media screen and (max-width: 817px) {
  .housing-card {
    width: 170px;
  }
}


/* MOBILE */