* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: rgb(23, 23, 23);
  font-family: Raleway;
}

body {
  max-width: 1400px;
  /* margin: auto; */
}

h1 {
  font-size: 22px;
}

i {
  color: #0065FC;
}


/* *************HEADER************** */


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 25px;
  font-size: 16px;
}

.logo {
  width: 65%;
}

.logo img {
  width: 70px;
  padding-left: 20px;
}

.navigation {
  display: flex;
  width: 35%;
  justify-content: space-around;
  cursor: pointer;
}


.navigation a {
  position: relative;
  border: 2px solid #ffffff;
  padding: 20px 0 20px 0;
}

.navigation a:hover {
  color: #0065FC;
  border-top: solid 2px #0065FC;
}



/* ***************NAV******************** */


nav {
  margin: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav p {
  font-size: 16px;
  margin-top: 10px;
}

form {
  margin: 20px;
  margin-left: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

input[type=text] {
  width: 200px;
  height: 35px;
  border: solid 1px #f2f2f2;
  padding: 12px;
}

input[type="submit"],
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0065fc;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border: solid 1px #f2f2f2;
  border-left: none;
  border-radius: 0 15px 15px 0;
  height: 35px;
  padding: 0px 15px;
  cursor: pointer;
  margin-left: -5px;
}

.btn {
  display: none;
}

#label {
  background-color: #f2f2f2;
  height: 35px;
  border: solid 1px #f2f2f2;
  border-radius: 15px 0 0 15px;
  padding: 15px 20px;
  margin: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#label i {
  color: black;
  font-size: 16px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-width: 890px;
  margin-left: 0;
}

.filters li {
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  margin: 15px;
}

.filters li:first-child {
  margin: 15px 0;
  padding: 10px 0;

}

.filter {
  border: solid 2px #f2f2f2;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 0;
}

.filter:active,
.filter:hover {
  background-color: #deebff;
}

.filter i {
  padding: 0 5px 0 0;
}


.infos {
  font-size: 16px;
  margin: 30px 20px 0 0;
}

.info .fa-solid {
  color: #0065fc;
  font-size: 16px;
}

.info {
  width: 24px;
  height: 24px;
  border: solid 1.3px #f2f2f2;
  padding: 0 8px;
  border-radius: 50%;
  margin: 10px 0;
}


/* ***************MAIN************* */


main {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  flex-wrap: wrap;
}

main h2 {
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 700;
}

main h3 {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
}

#housing,
#popular {
  background: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;


}

#activities {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px auto;
}

#housing {
  width: 66%;

}

#popular {
  width: 33%;
  position: relative;
}


.housing-cards {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  column-gap: 20px;
  row-gap: 20px;
  position: relative;
}

.housing-card {
  background: #ffffff;
  border-radius: 15px;
  width: 230px;
  height: 170px;
  border: solid 3px white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.housing-card h3,
.popular-card h3 {
  margin: 0 5px 0 5px;
}

.housing-card p,
.popular-card p {
  margin-left: 5px;
  font-size: 14px;
  margin-bottom: -2px;
}

.housing-card i,
.popular-card i {
  font-size: 7px;
  margin: 0;
}

.housing-card i:first-child,
.popular-card i:first-child {
  margin-left: 10px;
}

.housing-card i:last-child,
.popular-card i:last-child {
  color: #f2f2f2;
}

.rated {
  position: absolute;
  bottom: 0;
}

.housing-card img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

#popular span {
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px;
}

.popular-cards {
  width: 100%;
}

.popular-card a {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 100%;
  position: relative
}

.popular-card {
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  border: solid 3px white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 10px 0 20px 0;
}

.popular-infos {
  width: 60%;
}

.popular-card img {
  height: 100%;
  width: 40%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: cover;
}

.activities-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.activity-card {
  background: #ffffff;
  border-radius: 15px;
  width: 25%;
  height: 450px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 10px;
  font-size: 14px;
}

#activities h2 {
  margin-left: 30px;
}

.act-infos h3 {
  font-size: 14px;
  font-weight: 700;
  margin: 5px;
}

.act-infos {
  width: 100%;
  height: 10%;
  padding: 5px;
}

.activity-card img {
  width: 100%;
  height: 90%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;

}


/* ************FOOTER*********** */

footer {
  background: #f2f2f2;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  padding: 40px;
  align-items: start;
  margin: 40px;
  margin-bottom: 0;


}

footer li:first-child {
  font-weight: 700;
  padding-bottom: 20px;
  text-align: left;
}

footer li {
  padding-bottom: 10px;
}

/********************** MEDIA QUERIES ********************/


/* PC */


@media screen and (max-width: 1325px) {
  .housing-card {
    width: 190px;
  }
}

@media screen and (max-width: 1200px) {
  .housing-card h3 {
    font-size: 13px;
  }

  .housing-card p {
    font-size: 12px;
  }

  .housing-card {
    font-size: 10px;
    width: 170px;
    height: 160px;
  }

  .activity-card {
    height: 330px;
  }

}

@media screen and (max-width: 1100px) {
  .housing-card {
    font-size: 10px;
    width: 150px;
    height: 150px;
  }

  .activity-card h3 {
    font-size: 12px;
  }
}


/* PAD */


@media screen and (max-width: 991px) {

  main {
    margin-bottom: 0px;
  }

  .filters li {
    padding: 14px;
    font-size: 14px;
    margin: 5px;
  }

  .navigation a:hover {
    border-top: 2px solid white
  }

  #housing {
    width: 100%;
    margin-bottom: 40px;
  }

  #popular {
    display: flex;
    width: 100%;
    padding: 20px;
  }

  .housing-card {
    width: 230px;
    justify-content: center;
  }

  .popular-cards {
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    display: flex;
  }

  .popular-card a {
    width: 100%;
  }

  .popular-card {
    width: 33%;
    height: 120px;
    font-size: 10px;
  }

  .activity-card {
    height: 280px;
  }


  .activity-card img {
    height: 85%;
  }

  #popular span {
    margin: 20px;
  }

  footer {
    font-size: 12px;
    margin-top: 10px;
  }
}


@media screen and (max-width: 958px) {
  .popular-cards {
    flex-direction: row;
    justify-content: center;
  }

  .housing-card {
    width: 200px;
    justify-content: center;
  }

  .activity-card {

    height: 300px;
    margin: 10px 10px 20px 10px;
  }
}

@media screen and (max-width: 817px) {
  .housing-card {
    width: 170px;
  }


}


/* MOBILE */


@media screen and (max-width: 767px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    padding: 0;
  }

  header {
    flex-direction: column;
    padding: 20px;
    width: 100%;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .logo img {
    width: 100px;
  }


  .navigation {
    justify-content: center;
    font-size: 12px;
    width: 100%;
    text-align: center;
  }

  .navigation a {
    font-size: 16px;
    margin: 0 50px;
  }

  header::after {
    content: "";
    width: 50vw;
    height: 2px;
    background: #0065FC;
    display: inline-block;
    margin-bottom: 15px;
    transform: translate(-50%)
  }

  nav {
    margin: 10px;
  }

  .form {
    width: 100vw;
    display: flex;
    margin: 15px;
  }

  input[type=text] {
    width: 60%;
    height: 50px;
    border: solid 1px #f2f2f2;
    padding: 12px;
  }

  input[type="submit"] {
    display: none;
  }

  .btn {
    display: block;
    width: 49px;
    border-radius: 0 20px 20px 0;
  }

  .btn i {
    color: #ffffff;
    font-size: 10px;
    font-size: 18px;
  }

  .search {
    display: none;
  }

  input[type="submit"],
  .btn {
    height: 50px;
    width: 15%;
  }

  #label {
    width: 15%;
    height: 50px;
    border-radius: 30px 0 0 30px;
  }

  #label i {
    font-size: 18px;
  }

  .infos {
    font-size: 14px;
    margin-bottom: 20px;
    padding: 20px;
  }

  .filters {
    flex-wrap: wrap;
    width: 100%;
  }

  .filters li:first-child {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 0;
    font-size: 16px;
  }

  .filters li {
    padding: 15px;
    margin: 8px;
    font-size: 12px;
  }

  .filter {
    width: 45%;
  }

  main {
    flex-direction: row;
    margin: 0;
  }

  #popular {
    order: -1;
    width: 100vw;
    padding: 10px 0;
    border-radius: 0;
  }

  #popular h2,
  #activities h2,
  #housing h2 {
    padding-left: 20px;
    margin: 10px;
    font-size: 22px;
  }

  #housing h2 {
    padding: 10px;
  }

  #popular h3,
  #activities h3,
  #housing h3 {
    font-size: 16px;
  }

  .popular-cards {
    flex-direction: column;
  }

  .popular-card {
    width: 90vw;
    height: 150px;
    margin: 25px;
  }

  #housing,
  #activities {
    width: 100vw;
    background: #ffffff;
    padding: 10px;
    margin-bottom: 0;
  }

  .housing-card {
    width: 90vw;
    height: 200px;
  }

  .more {
    display: none;
  }

  #activities {
    margin-top: 40px;
  }

  .activities-cards {
    flex-direction: column;
  }

  .activity-card {
    width: 90vw;
  }

  .rated {
    padding: 10px 0;
  }

  .rated i {
    font-size: 12px;
  }

  footer {
    flex-direction: column;
    width: 100vw;
    margin: 0;
  }

  footer li:first-child {
    margin-top: 15px;
    padding-bottom: 10px;
  }

  form {
    width: 100%;
  }




}